# Environment variables & secrets
.env*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.venv/

# Node.js & Next.js
node_modules/
.next/
out/
build/
.vercel

# Archives & Backups
*.zip
*.tar.gz
Backup/

# Database
*.db
*.sqlite
*.sqlite3

# Flask & Migrations
instance/
.webassets-cache
migrations/

# Logs & Temporary files
*.log
npm-debug.log*
yarn-debug.log*

# IDEs & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
